@page "/shoppinglist"
@using FirstBlazorApp.Data;
<PageTitle>@title</PageTitle>

<h3>Shopping List</h3>

<EditForm Model="@_grocery" OnSubmit="AddGrocery">
    <DataAnnotationsValidator />
        <ValidationSummary />
    <p>
        <label>
            Name: <InputText @bind-Value="_grocery.Name" />
        </label>
    </p>
    <p>
        <label>
            Price: <InputNumber @bind-Value="_grocery.Price" />
        </label>
    </p>
    <button type="submit">Add Grocery</button>
</EditForm>

<table class="table table-sm">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>
    </tr>
    @foreach (var grocery in groceries)
    {
        <Item GroceryItem="@grocery" OnGroceryPriceIncreased="OnGroceryPriceIncreased"></Item>
    }
    
</table>

<h1>Total: (@sum)</h1>


@code {
    private float sum = 0;
    private string title = "Our Groceries";
    private string _groceryName = "";
    private float _groceryPrice;
    private Grocery _grocery = new Grocery();

    private List<Grocery> groceries = new List<Grocery>();

    private void AddGrocery()
    {
        groceries.Add(_grocery);
        _grocery = new Grocery(); // Esta forma carregara os campos para o Valor Default ou Inicial

        UpdateTotalAmount();
    }

    public void UpdateTotalAmount()
    {
        sum = groceries.Sum(total => total.Price);
    }

    public void OnGroceryPriceIncreased()
    {
        UpdateTotalAmount();
    }
}
